.new-collections {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  margin: 100px 0;
}
h1 {
  font-size: 40px;
  font-weight: 600;
  color: #626262;
}
hr {
  width: 150px;
  height: 5px;
  background-color: #ff7e00;
  border: none;
  border-radius: 10px;
}

.new-collections-items {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 30px;
}


@media (max-width: 1280px) {

  .new-collections h1 {
    font-size: 35px;
  }
  .new-collections hr {
    width: 130px;
    height: 3px;
  }
  .new-collections-items {
    gap: 25px;
    margin-top: 20px;
  }

}

@media (max-width: 1024px) {
 .new-collections h1 {
    font-size: 30px;
  }
  .new-collections hr {
    width: 120px;
    height: 3px;
  }
  .new-collections-items {
    gap: 20px;
    margin-top: 20px;
  }
 
}
@media (max-width: 800px) {
 
.new-collections h1 {
    font-size: 20px;
  }
  .new-collections h3{
    font-size: 14px;
  }
.new-collections hr {
    width: 100px;
    margin-top: 0;
  }

 
}

@media (max-width: 500px) {
 
.new-collections-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
